body{
    background-color: beige;
}
.navbar
    {
        display: flex;
        width: 100%;
        background-color: black;
        border: 2px dotted black;
    }
    
    .left-img,.right-img{
        width:20px;
    };
    
    .item-12{
            flex:1;
    }
    .item-13{
            flex:2;
    }
    .item-14{
        flex:1;
    }
    .main{
        /*flex:2;*/
        margin-left: 20px;
        widows: 400px;
        width: 1550px ;
        margin-right: 20px;
    }
    .logo
    {
        height: 100px;
    }
    .logo1
    {
        height: 100px;
        float:right;
    }
    .main-body{
        display: flex;
        margin-top:10px;		
    }
    
    .form-group{
        margin-left: 15px;
    }
    input[type=email],input[type=password]
         {
        width: 80%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
        }
    .aside{
        margin-left: 170px;
        width:fit-content;
    }
    
    /*Login container */
    .login{
        margin-left: 20px;
        width: 900px ;
    }
    .login-form{
        background-color: #e8e8e8;
        width: 60%;
        margin-left: 10px;
        margin-right: 10px;
        float: center;
    }
    /*Links container */
    .links
    {
        border-radius: 10px;
        margin: 5px 0px;
        padding: 5PX;
        width: 	250PX;
    }

    /*Captcha container */
    .g-recaptcha{
        margin-left: 5px;
        width:auto;
    }

    /*Date container */
    .datass
    {
        display:flex;
        color: white;
        width: 100%;
        font-size: 20px;
        font-weight: bolder;
        height: 30px;
        background-color: maroon;
    }
    .datas1
    {
        flex: 1;
    }
    .datas2
    {
        flex: 8;
    }

    /*HOme container */
    .home-container
    {
        display: flex;
        width: 100%;
        border: 2px solid black;
    }


    /*HOme container-1 */
    .home-container-1
    {
        display: flex;
        width: 100%;
        border: 2px dotted black;
    }
    .item-1
    {
        flex: 1;
    }
    .item-2
    {
        flex: 1;
    }
    .item-3
    {
        flex: 1;
    }
    .item-4
    {
        flex: 1;
    }
    .menu{
        display: block;
        border:2px solid crimson;
        background-color: crimson;
        color:white;    
        align-items: center;
        
    }
    .Menu{
        text-decoration: none;
        color: white;
    }

    .Menu:hover{
        text-decoration: none;
        color: white;
    }
    
    .footer-box{
        bottom: 0;
        position:fixed;
        margin-left: 17%;
    }
    @media only screen and (max-width: 600px) 
    {
        body{
            font-size: 2em;
        }
        
    }